# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Testing
coverage/
__mocks__/
__tests__/
__fixtures__/
__coverage__/

# Production
build/
dist/

# Secrets
secret/**
secrets/**
!secret/.gitkeep
!secrets/.gitkeep

# Does more harm than good
package-lock.json
